@font-face {
    font-family: "opensans-light";
    src: url("Fonts/OpenSans/OpenSans-Light.ttf");
}
@font-face {
    font-family: "opensans-lightitalic";
    src: url("Fonts/OpenSans/OpenSans-LightItalic.ttf");
}
@font-face {
    font-family: "opensans-regular";
    src: url("Fonts/OpenSans/OpenSans-Regular.ttf");
}
@font-face {
    font-family: "opensans-italic";
    src: url("Fonts/OpenSans/OpenSans-Italic.ttf");
}
@font-face {
    font-family: "opensans-semibold";
    src: url("Fonts/OpenSans/OpenSans-SemiBold.ttf");
}
@font-face {
    font-family: "opensans-semibolditalic";
    src: url("Fonts/OpenSans/OpenSans-SemiBoldItalic.ttf");
}
@font-face {
    font-family: "opensans-bold";
    src: url("Fonts/OpenSans/OpenSans-Bold.ttf");
}
@font-face {
    font-family: "opensans-bolditalic";
    src: url("Fonts/OpenSans/OpenSans-BoldItalic.ttf");
}
@font-face {
    font-family: "opensans-extrabold";
    src: url("Fonts/OpenSans/OpenSans-ExtraBold.ttf");
}
@font-face {
    font-family: "opensans-extrabolditalic";
    src: url("Fonts/OpenSans/OpenSans-ExtraBoldItalic.ttf");
}
html {
	background-color: #9CEE59;
	margin: 0px;
	border: 0px;
	padding: 0px;
	text-decoration: none;
}
a {
	color: #999999;
}
#tabla{
	width: 940px;
	margin: auto;
	background-color: white;
}
#test {
	margin: auto;
	width: 980px;
	border: 0px;
	padding-bottom: 19px;
	background-color: #509050;
}
.lightfont {
	font-family: opensans-regular;
	text-align: justify;
}
#kep {
	margin-left: 10px;
	margin-right: 10px;
	border: 2px solid black;
	border-radius: 8px;
	}
#sor {
	margin: 0px;
	padding: 1px;
}
#nav {
	width: 100%;
}
#navbar {
	float: left;
	width: 16.1%;
	text-align: center;
	margin: auto;
	background-color: black;
	padding: 2px;
	border-radius: 20px 5px;
	text-decoration: none;
	font-family: "OpenSans-semibolditalic";
}
#navbarillegal {
	float: left;
	width: 16.1%;
	text-align: center;
	margin: auto;
	background-color: black;
	padding: 2px;
	border-radius: 20px 5px;
	text-decoration: none;
	font-family: "OpenSans-semibolditalic";
}
#navbarillegal:hover {	
	color: white;
	background-color: #2f7d44;
}
#navbar:hover {	
color: white;
background-color: #2f7d44;
}
#lab {
	text-align: center;
	margin: auto;
}
#labj {
	padding: 5px;
}
#flink {
	font-family: "OpenSans-semibolditalic";
	color: blue;
	text-decoration: none;
}
audio { display:none;}
